# ANNIMVERSE Environment Configuration

# Server Configuration
PORT=4000

# MongoDB Connection
MONGO_URI=mongodb+srv://yannn:yann1403@cluster0.gnytxbt.mongodb.net/annimverse?appName=Cluster0

# JWT Secret
JWT_SECRET=rahasia_wibu_annimverse_2024

# Email Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_FROM=ANNIMVERSE <annimversea@gmail.com>

# Home Server & Storage Configuration
ALLOW_PUBLIC_REGISTRATION=true
STORAGE_PROVIDER=cloud # Options: 'cloud' (Google Drive) or 'local' (Local Storage Server)