# ANNIMVERSE Environment Configuration

# Server Configuration
PORT=4000

# MongoDB Connection
MONGO_URI=mongodb+srv://yannn:yann1403@cluster0.gnytxbt.mongodb.net/annimverse?appName=Cluster0

# JWT Secret
JWT_SECRET=rahasia_wibu_annimverse_2024

# Email Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=annimversea@gmail.com
SMTP_PASS=rrpztdgamtnbinoe
SMTP_FROM=ANNIMVERSE <annimversea@gmail.com>